body {
    background-color: cadetblue;
    color: #fa7f72;
  }
  .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .col-6{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 100px;
    height: 300px;
  }
  label{
    color: blue;
  }
  legend{
    color: lightgreen;
  }
  #cesta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .badge {
    margin-left: 35%;
    background-color: white;
    color: #fa7f72;
  }

  input[type='submit']{
    background-color: cornflowerblue;
    border-radius: 3px;
    color: white;
    border: 0px;
  }
  #visitas{
    width: 350px;
    background-color: cadetblue;
    color: #fa7f72;
  }
